.kl83-pic-widget {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.kl83-pic-widget input[type='file'] {
  display: none;
}
.kl83-pic-widget label {
  margin: 0;
  cursor: pointer;
}
.kl83-pic-widget .remove {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 10;
  width: 22px;
  height: 21px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.kl83-pic-widget .remove:after {
  content: '\e014';
  font-family: 'Glyphicons Halflings';
  display: block;
  margin: 3px 0 0 3px;
  color: #333;
  font-size: 17px;
}
.kl83-pic-widget .rotate-left,
.kl83-pic-widget .rotate-right {
  position: absolute;
  bottom: calc(50% - 10px);
  z-index: 1;
  display: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.kl83-pic-widget .rotate-left:hover,
.kl83-pic-widget .rotate-right:hover {
  opacity: 1 !important;
}
.kl83-pic-widget.enable-rotation .rotate-left,
.kl83-pic-widget.enable-rotation .rotate-right {
  display: block;
}
.kl83-pic-widget .rotate-left {
  right: calc(50% + 5px);
}
.kl83-pic-widget .rotate-left:after {
  content: '\21b6';
  font-family: Arial;
}
.kl83-pic-widget .rotate-right {
  left: calc(50% + 5px);
}
.kl83-pic-widget .rotate-right:after {
  content: '\21b7';
  font-family: Arial;
}
.kl83-pic-widget:hover .rotate-left,
.kl83-pic-widget:hover .rotate-right {
  opacity: .6;
}
.kl83-pic-widget .picture {
  position: absolute;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.kl83-pic-widget .upload {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: 0.2s 0.2s;
}
.kl83-pic-widget .upload:before {
  content: '\e060';
  font-family: 'Glyphicons Halflings';
  font-size: 40px;
  color: #777;
  transition: 0.4s;
}
.kl83-pic-widget .upload:hover:before {
  color: #333;
}
.kl83-pic-widget.show-picture .remove {
  visibility: visible;
  opacity: .6;
}
.kl83-pic-widget.show-picture .remove:hover {
  opacity: 1;
}
.kl83-pic-widget.show-picture .rotate-left,
.kl83-pic-widget.show-picture .rotate-right {
  visibility: visible;
}
.kl83-pic-widget.show-picture .picture {
  opacity: 1;
  visibility: visible;
  transition: 0.2s 0.2s;
}
.kl83-pic-widget.show-picture .upload {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.kl83-pic-widget.show-picture.change-picture .picture {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.kl83-pic-widget.dd-action .remove,
.kl83-pic-widget.dd-action .picture {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.kl83-pic-widget.dd-action .upload {
  opacity: 1;
  visibility: visible;
  transition: 0.2s 0.2s;
}
/*# sourceMappingURL=pic-widget.css.map */