<div class="item" data-id="{{ id }}">
    <span class="remove-item"></span>
    <span class="rotate-left"></span>
    <span class="rotate-right"></span>
    <div class="image" style="background-image: url('{{ thumbUrl }}')"></div>
</div>
